.meme-form-container {
    padding: 36px;
}

.meme-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.meme-form-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.meme-form-inputs > input {
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    height: 35px;
    width: 100%;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.88rem;
    color: #0D0D0D;
    text-indent: 5px;

}

.upper-text-input {
    margin-right: 8px;
}

.bottom-text-input {
    margin-left: 8px;
}

.meme-form > button {
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    height: 40px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    border: none;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.1em;
    
    color: white;
}

.meme-form > button:hover {
    background: linear-gradient(90.41deg, #812F9D 1.14%, #b828eA 100%);
    cursor: pointer;
}

.meme {
    position: relative;
}

.meme--image {
    max-width: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}